.game{
  width: 700px;
  display: block;
  margin: 0 auto;
}

.game-hud{
  overflow: hidden;
  font-family: Arial;
}

.game-level{
  margin: 35px 0 15px;
  font-size: 24px;
  font-weight: bold;
  float: left;
}

.game-key{
  float: right;
}

.game-key img{
  display: block;
  width: 45px;
}
